@import "../variables.scss";

.box-card .el-card__body {
  display: flex;
  flex-direction: row;

  .content {
    flex: 1;
  }

  h2 a {
    text-decoration: none;
    color: black;

    &:hover {
      color: $--color-primary;
    }
  }

  .image {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }

    margin-left: 30px;
  }

  .footer-artikel {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .date {
    display: flex;
    align-items: center;

    img {
      display: block;
      margin-right: 5px;
    }
  }
}

.home {
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px;

  .small-title {
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 100px;
    display: inline-block;
    border-bottom: 3px solid black;
    padding-bottom: 2px;
  }
}

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;

  .img {
    transform: translateX(30px);
    height: 250px;
  }
}
