@import "../variables.scss";

.box-card .el-card__body {
  display: flex;
  flex-direction: row;

  .content {
    flex: 1;
  }

  h2 a {
    text-decoration: none;
    color: black;
    transition: 200ms ease-in-out;

    &:hover {
      color: $--color-primary;
    }
  }

  .image {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }

    margin-left: 30px;
  }

  .footer-artikel {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .date {
    display: flex;
    align-items: center;

    img {
      display: block;
      margin-right: 5px;
    }
  }
}
