@import "../variables.scss";

.el-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  .container {
    height: 100%;
  }

  .title {
    font-size: 1.2em;
    font-weight: bold;
    height: 50px;

    img {
      height: 100%;
    }
  }
}

.btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.nav {
  display: flex;
}

.nav a {
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  color: black;
  line-height: 50px;
  padding: 0 10px;
}

.nav .router-link-exact-active {
  color: $--color-primary;
  font-weight: bold;
  border-bottom: 3px solid $--color-primary;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(204, 204, 204);
  margin: 0 15px;
  cursor: pointer;
}

.nav .el-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
