.article {
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;

  .title {
    font-size: 2.5em;
    font-weight: 600;
    width: 100%;
    border: 0;
    display: block;
    margin: 20px 0 0;
    font-family: inherit;

    &:focus-visible {
      outline: 0;
    }
  }

  .content-image {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }

  .content {
    width: 100%;
    height: fit-content;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    border: 0;
    margin-bottom: 100px;

    &:focus-visible {
      outline: 0;
    }
  }

  .title-skeleton {
    width: 40ch;
    margin: 30px 0 1rem;
    height: 2rem;
  }

  .image-skeleton {
    width: 100%;
    height: 300px;
    margin: 20px 0;
  }

  .content-skeleton {
    width: 100%;
    height: 20px;
    margin: 6px 0;
  }

  .status {
    font-size: 0.8rem;
    font-style: italic;
    display: flex;
    width: 100%;
    margin: 20px 0;

    .el-button {
      margin: 0 20px 0 0;
    }
  }
}

.editor-photo,
.article-photo {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  height: fit-content;

  img {
    width: 100%;
    margin: 0 !important;
  }

  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 200ms ease-in-out;

    .el-button {
      width: 100%;
      height: 100%;
    }
  }

  .overlay:hover {
    opacity: 1;
  }
}

.bigimage-skeleton {
  width: 100%;
}

.bigimage {
  width: 100%;
  height: 130px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  img {
    width: 100%;
  }
}

.upload-picture {
  margin: 10px 0 20px;
  width: 100%;

  .el-upload,
  .el-upload-dragger {
    width: 100%;
  }
}

textarea::placeholder {
  color: hsl(0, 0, 70%);
}

.post {
  margin-bottom: 30px;

  .data-article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .date {
      display: flex;
      align-items: center;

      p {
        margin-left: 10px;
        color: #7a7a7a;
      }
    }
  }

  .article-post {
    font-size: 1rem;
    line-height: 1.5;
  }
}
